.footer, .jsonview {
    border: 1px solid black;
}

.main-row {
    margin-bottom: 30px;
}

.header {
    background-color: rgb(39, 40, 34);
    padding: 15px;
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
}
